.footerLinks {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 0%;
   
}

.footerLinks a {
    text-decoration: none;
    color: rgb(85, 84, 84);
    margin-bottom: 0% ;
}

.footerLinks a p {
    margin-bottom: 10px;
}

.footerLinks span {
    color:rgba(70, 69, 69, 0.548) ;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(70, 69, 69, 0.548);
    font-size: 13px;
}

.footerFot {
    background-color: rgba(199, 199, 198, 0.267);
    margin-top: 100px;
}

.mediosDePagoImg { 
    width: 150px;
}

.mediosBox { 
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

